{% extends 'ecg/base.html' %}

{% block body %}

    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            
            <h1 class="w3-text-teal">Upload ECG</h1>
            <form class = "form-horizontal" action="" method = "post" enctype="multipart/form-data">
                {% csrf_token %}
                

                <div class= "form-group">
                    {% for field in form %}
                    <div class= "col-sm-offset-2 col-sm-10">
                        <span class= "text-danger small">{{ field.errors }}</span>
                    </div>
                    <label class= "control-label col-sm-2">Carga una imagen o señal</label>
                    
                    <div class= "col-sm-10">{{ field }}</div>
                

                    {% endfor %}
                    
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Browse</button>
                    </div>
                    
                </div>
                
            </form>
            
        </div>

    </div>


{% endblock %}
